# Keil build outputs
MDK-ARM/Task1_RGB_Key/
MDK-ARM/*.lst
MDK-ARM/*.map
MDK-ARM/*.htm
MDK-ARM/*.build_log.htm

# Keil user interface/session files
MDK-ARM/*.uvguix.*

# Generic build artifacts
*.o
*.d
*.crf
*.axf
*.hex
*.map
*.lst
*.lnp
*.dep
*.sct

# Local OS/editor noise
Thumbs.db
.DS_Store

# VS Code / Keil Assistant logs
MDK-ARM/.vscode/*.log
MDK-ARM/.vscode/*.lock
